<!DOCTYPE html>
<html ng-app="a10_4">
<head lang="en">
    <meta charset="UTF-8">
    <title>注意ng-repeat中的索引号</title>
    <script src="script/angular.min.js"></script>
    <link rel="stylesheet" href="style/css10.css"/>
</head>
<body>
<div class="frame">
    <ul ng-controller="c10_4">
        <li>
            <span>序号</span>
            <span>姓名</span>
            <span>分数</span>
            <span>操作</span>
        </li>
        <li ng-repeat="item in items | filter:fscore">
            <span>{{item.id}}</span>
            <span>{{item.name}}</span>
            <span>{{item.score}}</span>
            <span ng-click="remove(item,$index)">删除</span>
        </li>
    </ul>
</div>
<script>
    angular.module('a10_4',[])
            .controller('c10_4',function($scope){
                $scope.items=getStu();
                $scope.fscore=function(e){return e.score>30;};
                $scope.remove=function(item,index){
                    console.log(item);
                    var item2=$scope.items[index];
                    console.log(item2);
                }
            });
    function getStu(){
        return [
            {
                id:1020,name:"张立秋1",score:10
             },
            {
                id:1030,name:"张立秋2",score:20
            },
            {
                id:1040,name:"张立秋3",score:30
            },
            {
                id:1050,name:"张立秋4",score:40
            },
            {
                id:1010,name:"张立秋5",score:50
            }
        ]
    }
</script>
</body>
</html>