<!DOCTYPE html>
<html ng-app>
<head lang="en">
    <meta charset="UTF-8">
    <title>基础知识</title>
    <script src="script/angular.min.js"></script>
</head>
<body>
    <!--
    {{}},
    | 管道符调用过滤
    -->
<!--Angular表达式与javaScript表达式之间的相互调用-->
<div ng-controller="c2_1">
    <p>执行javascript表达式</p>
    <input type="text" ng-model="expr1"/>
    <button ng-click="testExp1(expr1)">计算</button>
    <p>执行Angular表达式</p>
    <input type="text" ng-model="expr2"/>
    <span ng-bind="$eval(expr2)"></span>
</div>
    <script>
        function c2_1($scope){
            $scope.expr1=20;
            $scope.expr2='20+1|number:0';
            $scope.testExp1=function(expr){
                var newv=parseInt(expr)+1;
                console.log(newv);
            }
        }
    </script>
</body>
</html>