<!DOCTYPE html>
<html ng-app="a2_13">
<head lang="en">
    <meta charset="UTF-8">
    <title>模板中的表单控件</title>
    <script src="script/angular.min.js"></script>
    <style>
        body{
            font-size: 13px;
        }
        input{
            padding:3px;
        }

    </style>
</head>
<body>
<form name="temp_form" ng-submit="save()" ng-controller="c2_13">
    <div>
        <input type="text" name="t_name" ng-model="name" required/>
        <span ng-show="temp_form.t_name.$e">姓名不能为空</span>
    </div>
    <div>
        <input type="email" name="t_email" ng-model="email" required/>
        <span ng-show="temp_form.t_email.$e">邮件不能为空</span>
        <span ng-show="temp_form.t_email.$e">邮件格式不对</span>
    </div>
    <input type="submit" ng-disabled="temp_form.$invalid" value="提交"/>
</form>
<script>
    var a2_13=angular.module('a2_13',[]);
    a2_13.controller('c2_13',['$scope',function($scope){
        $scope.name="sdfsd";
        $scope.email="fsklfjkd@fksdlfj.com";
        $scope.save=function(){
            alert("提交成功")
        }
    }])
</script>
</body>
</html>